chromadb
flask
uvicorn
google-genai
httpx
requests
huggingface
iprogress
ipykernel
ipython
ipywidgets
joblib
jupyter
jupyterlab
openai
together
pydantic
pydantic-ai
python-dotenv
scipy
scikit-learn
numpy
pandas
tokenizers
transformers
xgboost
bm25s
datasets
pyyaml
anthropic
pypdf2
weaviate
weaviate-client
uuid-utils
uuid
typing-extensions
sentence-transformers
matplotlib
seaborn
regex
pypika